<html>
<head>
    <title>Công ty TNHH Đầu tư Bách Hợp</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="text-align:center">
    <h1 style="color: Red; font-size: large; font-family: Verdana; text-align: center">Website &#273;ang trong th&#7901;i gian n&acirc;ng c&#7845;p phi&ecirc;n b&#7843;n m&#7899;i! </h1>
    <h3>Mong qu&yacute; kh&aacute;ch vui l&ograve;ng quay l&#7841;i sau ! </h3>  
    <p><strong>Công ty TNHH Đầu tư Bách Hợp</strong></p>
    <p>Địa chỉ: Tầng 3 phòng 302, tòa nhà CT6-DN2, Khu Đô Thị Mới Đinh Công, Hoàng Mai, Hà Nội
      <br />
    Điện thoại: (04) 3640 1821 / (04)2243 3052 - Fax: (04) 3640 1821
    <br />
    Hòm thư: <a href="mailto:contact@bicweb.vn">contact@bicweb.vn</a>
    <br />
    Website:  <a href="http://www.bicweb.vn">http://www.bicweb.vn</a>
    <br />
</p>
</body>
</html>
