.stickytooltip{
display:none;
position:absolute;
z-index:3000;
}

.stickytooltip .atip {
background:#3381bb;padding:15px 10px;float: left;
box-shadow: 0px 0px 10px #717674; /*shadow for CSS3 capable browsers.*/
-webkit-box-shadow: 0px 0px 10px #717674;border: 1px solid #85abc5;
-moz-box-shadow: 0px 0px 10px #717674;width: 320px !important;opacity: 0.9;
}
.stickytooltip .atip table{ width: 100%;float: left;color: #fff;font-size: 13px;}
.stickytooltip .atip table td{vertical-align: top; padding-bottom: 5px; color: #fff;font-size: 13px;}
.stickytooltip .atip table td .name{ padding-right: 0px;min-width: 85px;float: left;}
.stickytooltip .stickystatus{ /*Style for footer bar within tooltip*/
background:black;
color:white;
padding-top:5px;
text-align:center;
font:bold 11px Arial;
}